@mixin movieItem($width, $height, $widthVote, $heightVote, $fontSize){
  .item{
    position: relative;
    max-width: $width;
    &__img{
      margin-bottom: 15px;
      width: $width;
      height: $height;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
    }
    &__vote-average{
      position: absolute;
      font-size: $fontSize;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -5px;
      top: 5px;
      height: $heightVote;
      width: $widthVote;
      border-radius: 3px;
      padding: 10px 6px;
      box-sizing: border-box;
    }
    .from-seven{
      background-color: #3cb43a;
    }
    .up-to-seven{
      background-color: #aaa;
    }
  }
}