.main{
  padding: 25px 120px 60px 110px;
  background-color: #151515;
  color: #fff;
  font-family: Asap;
  .not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 22px;
  }
  .filter-list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    &__item{
      cursor: pointer;
      border: 1px solid #fff;
      padding: 8px 16px;
      box-sizing: border-box;
    }
    &__item_active,
    &__item:hover{
      background-color: #fff;
      color: #000;
    }
    &__item:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 0;
    }
    &__item:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 0;
    }
  }
  .pagination{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
    &__page{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #aaa;
      font-size: 19px;
      background-color: #151515;
      border-radius: 50%;
      padding: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: .2s;
    }
    &__page_active,
    &__page:hover{
      color: #fff;
      background-color: #3cb43a;
      transition: .2s;
    }
  }
}